  /* All img tags */
  img {
    /* 
      Center a block element in the middle of its enclosing tag.
      When you use the "auto" rule on both left and right margins, 
      your browser will do the math necessary to center a block element.
      */
    margin-left: auto;
    margin-right: auto;
    /* Block display (more on this later) */
    display: block;
  }

  tr {

    text-align: center;

  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
  }

  @media (max-width: 600px) {

  
     .col-a {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      background: none;
      margin-left: 300px;
    } 
  }
  